<div class="container">
    <h1>JSON to JSON Converter</h1>
    <form (submit)="onSubmit()">
      <label for="jsonContent">Input JSON:</label>
      <textarea
        name="jsonContent"
        id="jsonContent" [(ngModel)]="jsonContent"
        rows="10"
        required
        class="form-control"
      ></textarea>
      <button type="submit" class="btn btn-primary mt-2">Convert</button>
    </form>
  
    <h2>Output</h2>
    <pre *ngIf="outputJson">{{ outputJson }}</pre>
  </div>